@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alkalami&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&family=Ubuntu:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background-color: #232F3E;
}

body::-webkit-scrollbar-thumb {
    background-color: #FE500A;
    border-radius: 5px;
}

.social-outer {
    width: 50px;
    height: 200px;
    background-color: red;
    position: fixed;
    right: 0;
    bottom: 275px;
    display: flex;
    flex-direction: column;
    z-index: 10;

}

.social-inner-wrapper {
    flex: 1;
    /*border: 1px solid black;*/
    position: relative;
}

.slide-context {
    background-color: white;
    width: 125px;
    height: 100%;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    position: absolute;
    display: flex;
    align-items: center;

    color: #FE500A;
    font-size: 15px;
    padding: 0 15px;

}

.social-logo {
    width: 100%;
    height: 100%;
    background-color: white;
    position: absolute;
    z-index: 1;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}

.social-logo:hover {
    background-color: #FE500A;
    color: white;
}

.social-inner-wrapper:hover > .slide-context {
    right: 49px;
}

.main-slider-outer {
    width: 100%;
    height: 100vh;
    background-image: url("https://cdn.kiwicollection.com/media/property/PR002533/xl/002533-17-the-peninsula-bangkok_the-pool-11.jpg?cb=1461870801");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*---nav style----*/
.nav-outer {
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    background-color: #120E43;
    display: flex;
    z-index: 100;

}

.logo-outer {
    /*border: 1px solid red;*/
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 100px;
}

.logo-outer > img {
    height: 50px;
    /*border: 1px solid red;*/
    /*filter: saturate(2);*/
    /*filter: contrast(0.50);*/
    /*filter: brightness(0.30);*/
    /*filter: grayscale(100%);*/

}

.nav-bar-context {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*-----nav----*/
.nav {
    list-style: none;
    display: flex;
}

.nav > li > span > a {
    color: white;
    text-decoration: none;
    font-size: 13px;
    text-transform: uppercase;
}

.nav > li {
    border-right: 1px solid white;
    padding: 5px 25px;
    border-bottom: 2px solid transparent;
    display: flex;
    align-items: center;
}

.nav > li:last-child {
    border-right: 0;
    padding-right: 0;
}

.nav > li:hover {
    cursor: pointer;
    /*border-bottom: 2px solid white;*/
    border-color: white;
}

.nav > li:hover > span > a {
    color: #FE500A;
}

.booking-button {
    padding: 8px 15px;
    background: none;
    margin: 0 20px;
    border: 1px solid #FE500A;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.booking-button:hover {
    background-color: #FE500A;
}

/*-----nav----*/

/*----search style----*/
.search-wrapper {
    width: 400px;
    margin-right: 25px;
    height: 40px;
    border-radius: 5px;
    background-color: white;
    display: flex;
}

.search-type {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    width: 50px;
    height: 100%;
    background-color: #DADADA;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.search-wrapper > input[type=search] {
    flex: 1;
    border: none;
    background: none;
    padding: 0 15px;
}

.search-wrapper > input[type=search]:focus {
    outline: none;
}

.search-icon {
    width: 50px;
    height: 100%;
    background-color: #FE500A;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

}
/*----search style----*/
.middle-text-outer {
    width: 100%;
    height: 150px;
    /*border: 1px solid red;*/
    position: relative;
}

/*slider middle text*/
.book-today-text {
    text-align: center;
    font-family: 'Dancing Script', cursive;
    color: white;
    font-size: 60px;

}
.weekend-offer-text {
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 60px;
    font-family: 'Alkalami', Serif, sans-serif;
}
/*slider middle text*/

/*----booking widget-----*/
.widget-main-outer {
    width: 100%;
    height: 70px;
    /*border: 1px solid red;*/
    margin-top: 60px;

}
.widget-inner {
    width: 80%;
    height: 100%;
    background-color: white;
    margin: 0 auto;
    display: flex;

}

.widget-component-wrapper:first-child {
    width: 40%;
}
/*----booking widget-----*/
.widget-component-wrapper {
    height: 100%;
    /*border: 1px solid red;*/
    width: 20%;
    display: flex;
}
.widget-component-wrapper > input[type=date],
.widget-component-wrapper > select
{
    flex: 1;
    padding: 0 20px;
    font-size: 16px;
    border: none;
}
.widget-component-wrapper > input[type=date]:focus,
.widget-component-wrapper > select:focus
{
    outline: none;
}
.widget-component-wrapper > input[type=submit] {
    flex: 1;
    border: none;
    background-color: #FE500A;
    font-size: 16px;
    color: white;
    cursor: pointer;
}

.widget-component-wrapper > input[type=submit]:hover {
    background-color: #0F172B;
    color: white;
}

/*-----about style----*/
.about-wrapper {
    width: 100%;
    height: 300px;
    /*border: 1px solid red;*/
    display: flex;
}
.about-inner {
    /*border: 1px solid red;*/
    flex: 1;
    display: flex;
    align-items: center;
}
.about-inner:first-child {
    flex-direction: column;
    position: relative;
    justify-content: center;
}
.about-inner > p {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: darkgray;
    padding: 0 20px;
    line-height: 25px;
    text-align: justify;
}
.welcome-text {
    color: #FE500A;
    font-size: 80px;
    text-align: center;
    width: 100%;
    font-family: 'Dancing Script', cursive;
}
.enjoy-text {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    margin-top: -40px;


}

/*-----about style----*/